<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Ruddy Extra Small Sandpiper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-theme-neutral-dark);
        background-color: var(--dl-color-theme-neutral-light);

        fill: var(--dl-color-theme-neutral-dark);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Laila:wght@300;400;500;600;700&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq5.css" rel="stylesheet" />
      <div class="faq5-faq13 thq-section-padding">
        <div class="faq5-max-width thq-section-max-width thq-flex-column">
          <div class="thq-flex-column">
            <h2>
              <fragment class="faq5-fragment15">
                <h2 class="faq5-text21 thq-heading-2">FAQs</h2>
              </fragment>
            </h2>
            <p>
              <fragment class="faq5-fragment02"></fragment>
            </p>
            <p class="faq5-text06 thq-body-large">
              <span>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Suspendisse varius enim in eros elementum tristique.
              </span>
              <span></span>
            </p>

            <p></p>
          </div>
          <div class="thq-flex-row faq5-content">
            <div class="thq-flex-column">
              <div class="faq5-list-item1">
                <p>
                  <fragment class="faq5-fragment12"></fragment>
                </p>
                <p class="faq5-text18 thq-body-large">
                  What is equine therapy?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment09">
                    <span class="faq5-text15 thq-body-small">
                      Equine therapy is a form of experiential therapy that
                      involves interactions between patients and horses. It can
                      help individuals build confidence, improve communication
                      skills, and develop emotional awareness.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item2">
                <p>
                  <fragment class="faq5-fragment08"></fragment>
                </p>
                <p class="faq5-text14 thq-body-large">
                  What can I expect during a meditation retreat?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment19">
                    <span class="faq5-text25 thq-body-small">
                      During a meditation retreat at Blissful Existence Healing
                      Acres, you can expect guided meditation sessions,
                      mindfulness practices, nature walks, and opportunities for
                      self-reflection and relaxation.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item3">
                <p>
                  <fragment class="faq5-fragment06"></fragment>
                </p>
                <p class="faq5-text12 thq-body-large">
                  Are the treatment plans personalized?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment04">
                    <span class="faq5-text10 thq-body-small">
                      Yes, at Blissful Existence Healing Acres, we provide
                      personalized treatment plans tailored to each individual's
                      specific needs and goals for healing and growth.
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
            <div class="thq-flex-column">
              <div class="faq5-list-item4">
                <p>
                  <fragment class="faq5-fragment18"></fragment>
                </p>
                <p class="faq5-text24 thq-body-large">
                  How can equine therapy benefit me?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment20">
                    <span class="faq5-text26 thq-body-small">
                      Equine therapy can benefit individuals by promoting
                      emotional regulation, building trust and empathy,
                      enhancing self-awareness, and providing opportunities for
                      personal growth and healing.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item5">
                <p>
                  <fragment class="faq5-fragment11"></fragment>
                </p>
                <p class="faq5-text17 thq-body-large">
                  Do you offer accommodation at the Pocono Mountains retreat?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment01">
                    <span class="faq5-text05 thq-body-small">
                      Yes, we offer comfortable accommodation options at our
                      retreat center in the picturesque Pocono Mountains,
                      providing a peaceful and serene environment for healing
                      and relaxation.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item6">
                <p>
                  <fragment class="faq5-fragment17"></fragment>
                </p>
                <p class="faq5-text23 thq-body-large">
                  How are the meditation retreats structured?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment16">
                    <span class="faq5-text22 thq-body-small">
                      Our meditation retreats are structured to include a
                      balance of guided meditation sessions, mindfulness
                      practices, group activities, individual reflection time,
                      and opportunities to connect with nature in the beautiful
                      surroundings of the Pocono Mountains.
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
            <div class="thq-flex-column">
              <div class="faq5-list-item7">
                <p>
                  <fragment class="faq5-fragment10"></fragment>
                </p>
                <p class="faq5-text16 thq-body-large">
                  Can I combine equine therapy with meditation retreats?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment22">
                    <span class="faq5-text30 thq-body-small">
                      Yes, we offer programs that integrate equine therapy
                      sessions with meditation retreat experiences to provide a
                      holistic approach to healing and personal development.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item8">
                <p>
                  <fragment class="faq5-fragment"></fragment>
                </p>
                <p class="faq5-text04 thq-body-large">
                  Are the staff members experienced in equine therapy and
                  meditation practices?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment13">
                    <span class="faq5-text19 thq-body-small">
                      Yes, our staff members are highly experienced in equine
                      therapy techniques and meditation practices. They are
                      dedicated to creating a supportive and nurturing
                      environment for our clients' healing journey.
                    </span>
                  </fragment>
                </span>
              </div>
              <div class="faq5-list-item9">
                <p>
                  <fragment class="faq5-fragment07"></fragment>
                </p>
                <p class="faq5-text13 thq-body-large">
                  How can I book a session at Blissful Existence Healing Acres?
                </p>

                <p></p>
                <span>
                  <fragment class="faq5-fragment14">
                    <span class="faq5-text20 thq-body-small">
                      To book a session or inquire about our services at
                      Blissful Existence Healing Acres, please contact us
                      through our website or give us a call. We look forward to
                      assisting you on your path to healing and well-being.
                    </span>
                  </fragment>
                </span>
              </div>
            </div>
          </div>
          <div class="thq-flex-column">
            <div class="faq5-content2">
              <h2>
                <fragment class="faq5-fragment05">
                  <h2 class="faq5-text11 thq-heading-2">
                    Still have a question?
                  </h2>
                </fragment>
              </h2>
              <p>
                <fragment class="faq5-fragment21"></fragment>
              </p>
              <p class="faq5-text27 thq-body-large">
                <span>
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </span>
                <span></span>
              </p>

              <p></p>
            </div>
            <button class="thq-button-outline">
              <span>
                <fragment class="faq5-fragment03">
                  <span class="faq5-text09 thq-body-small">Contact</span>
                </fragment>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/teleport-custom-scripts"
    ></script>
  </body>
</html>
